body {
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
}

li{
    color:darkslateblue;
}

h1{
    color: darkslateblue;

}

img {
    border:15px double  blue;
    border-radius: 60px;
}


